
/* フォント指定 */
body {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

@font-face {
    font-family: 'Amatic SC', cursive;
    src: url('https://fonts.googleapis.com/css?family=Amatic+SC:700 rel="stylesheet');
}    


