html,body,div,span,iframe,h1,h2,h3,h4,h5,p,a,img,ul,li,table,tr,th,td,tbody,footer,header,main,nav,section {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: normal;
	list-style: none;
	text-decoration: none;
}
/* フォント指定 */
body {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
/* 全体設定と背景画像の指定 */
body {
	width : 100vw;
	height: auto;
	background-image: url("../images/pastel_background.jpg");
	background-attachment: fixed;
	background-size: cover;
}
/* header枠設定 */
#header_inner {
	height: 100px;
	position: relative;
}
/* header devの共通設定 */
#header_logo,#header_contact {
	position: absolute;
	top: 0;
	bottom: 0px;
	margin: auto;
}
/* headerロゴのサイズ指定 */
#header_logo img{
	width: 250px;
}
/* headerのコンタクトdevの設定 */
#header_contact {
	width: 170px;
	height: 60px;
	right: 50px;
	background-image: url("../images/mail-logo.png");
	background-size: cover;	
}
/* header contactの文字列位置設定 */
#header_contact p{
	position: absolute;
	top: 20%;
  }
/* main画像設定 サイズ */
#main_image {
	display: table;
	width: 100vw;
	background-size: cover;
}
/* main画像設定 画像指定 */
#main_image_inner {
	width: 100vw;
	height: 482px;
	position: relative;
	background: url("../images/main-image.png") no-repeat;
	background-size:cover;
}
/* main画像 文字列 */
#main_image_inner h1{
	font-weight: bolder;
	font-size: 50px;
	text-shadow:1px 1px 0 #FFF,-1px 1px 0 #FFF,1px -1px 0 #FFF,-1px -1px 0 #FFF;
}

/* キャプション */
h2 {
	font-size: 1.0rem;
	background-color: rgba(256,256,256,0.8);
	text-align: left;
	display: table-cell;
	vertical-align: middle;
}
#schedule {
	margin: 30px;
	position: relative;
	background-color: rgba(256,256,256,0.8);
	text-align: left;
	vertical-align: middle;
}
#schedule h3 {
	font-size: 2.0rem;
	font-weight: bolder;
}
#schedule ul {
	margin: 30px;
	font-size: 1.6rem;
	line-height: 3.2rem;
	text-align: left;
	vertical-align: middle;
}
#schedule ul li{
    padding-left: 1em;
    text-indent: -1em;
}
#agenda {
	height: 200px;
	position: relative;
	background-color: white;
}
#agenda h3 {
	font-size: 2.0rem;
	font-weight: bolder;
}

.contents {
	height: 400px;
	overflow: hidden;
}
.left {
	float: left;
	height: 400px;
	width: 50%;
	background-repeat: no-repeat;
	background-size: cover;
}
.right {
	float: right;
	width: 50%;
	height: 400px;
	background-repeat: no-repeat;
	background-size: cover;
}
#photo01 {
	background-image: url(../images/presenter1.jpg);
}
#photo02 {
	background-image: url(../images/presenter2.jpg);
}
#photo03 {
	background-image: url(../images/presenter3.jpg);
}
.text {
	background-color: #FFF;
}
.contents p,h4 {
	margin: 30px 120px 0 21px;
	color: #000;
}
h4 {
	font-size: 1.25rem;
}
#div03 {
	margin-bottom: 100px;
}
.git_contact {
	background-color: rgba(256,256,256,0.8);
	margin-bottom: 100px;
	overflow: hidden;
}
.git_contact_inner p {
	width: 100%;
	position: relative;
	font-size: 1.8rem;
	line-height: 3.6rem;
	margin: 9px 0 5px;
	color: #FF3333;
}


