/*PC用css*/
@media screen and (min-width: 621px) { /*ウィンドウ幅が621px以上の場合に適用*/
	* {
		margin: 0px;
		padding: 0px;
	}
	
	/* フォント指定 */
	@font-face {
		font-family: 'Amatic SC', cursive;
		src: url('https://fonts.googleapis.com/css?family=Amatic+SC:700 rel="stylesheet');
	}    
	
	@font-face {
		font-family: 'Nemuke';
		src: url('NemukeMedium.otf');
	}
	
	/* 全体設定と背景画像の指定 */
	body {	
		width : 100%;
		height: auto;
		background-image: url("../images/pastel_background.jpg");
		background-attachment: fixed;
		background-size: cover;
		font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	}
	
	/* 全体設定と背景画像の指定 (dark) */
	body.dark-theme {
		width : 100%;
		height: auto;
		background-image: url("../images/dark-image.jpg");
		background-attachment: fixed;
		background-size: cover;
		color: white;
		font-family: 'Nemuke';
	}
	
	/* 文章背景色 */
	body .default_background_color {
		background-color: rgba(255,255,255,0.8);
	}
	
	/* 文章背景色 (dark) */
	body.dark-theme .default_background_color {
		background-color: rgba(0,0,0,0.5);
	}
	
	/* リンク色 */
	a:link { color: #136FFF; }
	a:visited { color: #CC33FF; }
	
	/* main 設定 */
	main {
		padding-top: 120px;/*header分*/
	}
	
	/* header全体設定 */
	#site_header{
		height: 120px;
		width: 100%;
		position: fixed;
		z-index: 2;
		white-space: nowrap;
		flex-wrap: wrap;
		overflow: hidden;
		display: table;
	}
	
	#header_logo{
		display: table-cell;
		padding: 10px;
		width: 300px;
		background-image: url("../images/ws-logo.png");
		background-repeat: no-repeat;
		background-size: auto 120px;
	}
	
	#mode_toggle{
		display: table-cell;
		vertical-align: middle;
		padding: 10px;
		width: 450px;
		font-family: 'Amatic SC', cursive;
		font-size:20px;
	}
	
	#header_contact{
		display: table-cell;
		vertical-align: middle;
		padding: 10px;
		width: 200px;
		background-image: url("../images/mail-logo.png");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: 50% 150%;
	}
	
	#header_contact p{
		text-align:center;
	}
	
	.marquee p {
		margin:0;
		padding-left:100%; /*アニメーションの範囲*/
		display:inline-block; 
		white-space:nowrap;
		font-size: 25px;
		color: #FF3333;
		background-color: rgba(255,255,255,0.5);
		animation-name:marquee; /*アニメーションのクラス名*/
		animation-timing-function:linear;/*アニメーションのタイミング・進行割合の指定*/
		animation-duration:15s; /*アニメーションの速度*/
		animation-iteration-count:infinite;/*アニメーションの動作回数*/
		}
		@keyframes marquee {/*動作範囲(上級者向けの設定)*/
		  from   { transform: translate(0%);} 
		  99%,to { transform: translate(-100%);}
		}


	/* main画像設定 画像指定 */
	#main_image_inner{
		width: 100vw;
		height: 600px;
		position: relative;
		z-index: 0;
		background: url("../images/main-image.png") no-repeat;
		background-size:cover;
	}
	
	/* main画像 文字列 */
	#main_image_inner h1{
		font-weight: bolder;
		font-size: 50px;
		text-shadow:1px 1px 0 #FFF,-1px 1px 0 #FFF,1px -1px 0 #FFF,-1px -1px 0 #FFF;
	}
	
	/* キャプション */
	#toptext {
		font-size: 1.0rem;
		text-align: left;
		vertical-align: middle;
	}
	
	#schedule{
		margin: 30px;
		position: relative;
		text-align: left;
		vertical-align: middle;
	}
	#schedule h3 {
		font-size: 2.0rem;
		font-weight: bolder;
	}
	#schedule ul {
		margin: 30px;
		font-size: 1.6rem;
		line-height: 3.2rem;
		text-align: left;
		vertical-align: middle;
	}
	#schedule ul li{
		padding-left: 1em;
		text-indent: -1em;
	}
	
	#agenda {
		position: relative;
		font-size: 2.0rem;
		font-weight: bolder;	
	}
	
	.contents {
		overflow: hidden;
	}
	.left {
		float: left;
		width: 50%;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.right {
		float: right;
		width: 50%;
		background-repeat: no-repeat;
		background-size: cover;
	}
	
	.contents p,h4 {
		margin: 30px 70px 10px 20px;
	}
	
	.photo01 {
		background-image: url(../images/presenter1.jpg);
		height: 400px;
	}
	#photo02 {
		background-image: url(../images/presenter2.jpg);
		height: 400px;
	}
	#photo03 {
		background-image: url(../images/presenter3.jpg);
		height: 400px;
	}
	
	#div03 {
		margin-bottom: 100px;
	}
	.git_contact {
		margin-bottom: 100px;
		overflow: hidden;
	}
	.git_contact_inner p {
		width: 100%;
		position: relative;
		font-size: 1.8rem;
		line-height: 3.6rem;
		margin: 9px 0 5px;
		color: #FF3333;
	}

	.btn-gradient-3d-simple {
		font-size: 3rem;
		display: inline-block;
		padding: 0.5em 1em;
		text-decoration: none;
		border-radius: 4px;
		color: #ffffff;
		background-image: linear-gradient(#6795fd 0%, #67ceff 100%);
		box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
		border-bottom: solid 3px #5e7fca;
	  }
	  
	  .btn-gradient-3d-simple:active {
		-webkit-transform: translateY(4px);
		transform: translateY(4px);
		box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
		border-bottom: none;
	  }
	.shomeisho {
        width: 80%;
        margin: 0 auto;
        max-width: 500px;
	}

}

/*スマホ用css*/
@media screen and (max-width: 620px) { /*ウィンドウ幅が最大620pxまでの場合に適用*/
	* {
		margin: 0px;
		padding: 0px;
	}
	
	/* フォント指定 */
	@font-face {
		font-family: 'Amatic SC', cursive;
		src: url('https://fonts.googleapis.com/css?family=Amatic+SC:700 rel="stylesheet');
	}    
	
	@font-face {
		font-family: 'Nemuke';
		src: url('NemukeMedium.otf');
	}
	
	/* 全体設定と背景画像の指定 */
	body {	
		width : 100%;
		height: auto;
		background-image: url("../images/pastel_background_p.jpg");
		background-attachment: fixed;
		background-size: cover;
		font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	}
	
	/* 全体設定と背景画像の指定 (dark) */
	body.dark-theme {
		width : 100%;
		height: auto;
		background-image: url("../images/dark-image_p.jpg");
		background-attachment: fixed;
		background-size: cover;
		color: white;
		font-family: 'Nemuke';
	}
	
	/* 文章背景色 */
	body .default_background_color {
		background-color: rgba(255,255,255,0.8);
	}
	
	/* 文章背景色 (dark) */
	body.dark-theme .default_background_color {
		background-color: rgba(0,0,0,0.5);
	}
	
	/* リンク色 */
	a:link { color: #136FFF; }
	a:visited { color: #CC33FF; }
	
	/* main 設定 */
	main {
		padding-top: 80px;/*header分*/
	}
	
	/* header全体設定 */
	#site_header{
		height: 80px;
		width: 100%;
		position: fixed;
		z-index: 2;
		white-space: nowrap;
		flex-wrap: wrap;
		overflow: hidden;
		display: table;
	}
	
	#header_logo{
		display: table-cell;
		padding: 10px;
		width: 50px;
		background-image: url("../images/ws-logo.png");
		background-repeat: no-repeat;
		background-size: auto 40px;
		background-position: 50% 50%;
	}
	
	#mode_toggle{
		display: table-cell;
		vertical-align: middle;
		padding: 10px;
		width: 30px;
		font-family: 'Amatic SC', cursive;
		font-size:10px;
	}
	
	#header_contact{
		display: table-cell;
		vertical-align: middle;
		padding: 10px;
		width: 40px;
		background-image: url("../images/mail-logo.png");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: 50% 150%;
		font-size:10px;
	}
	
	#header_contact p{
		text-align:center;
	}

	.marquee p {
		margin:0;
		padding-left:100%; /*アニメーションの範囲*/
		display:inline-block; 
		white-space:nowrap;
		font-size: 12px;
		color: #FF3333;
		background-color: rgba(255,255,255,0.5);
		animation-name:marquee; /*アニメーションのクラス名*/
		animation-timing-function:linear;/*アニメーションのタイミング・進行割合の指定*/
		animation-duration:25s; /*アニメーションの速度*/
		animation-iteration-count:infinite;/*アニメーションの動作回数*/
		}
		@keyframes marquee {/*動作範囲(上級者向けの設定)*/
		  from   { transform: translate(0%);} 
		  99%,to { transform: translate(-100%);}
		}


	/* main画像設定 画像指定 */
	#main_image_inner{
		width: 100vw;
		height: 260px;
		position: relative;
		z-index: 0;
		background: url("../images/main-image.png") no-repeat;
		background-size:contain;
		background-repeat: no-repeat;
		background-position: 50% 50%;
	}
	
	/* main画像 文字列 */
	#main_image_inner h1{
		font-weight: bolder;
		font-size: 24px;
		text-shadow:1px 1px 0 #FFF,-1px 1px 0 #FFF,1px -1px 0 #FFF,-1px -1px 0 #FFF;
	}
	
	/* キャプション */
	#toptext {
		font-size: 0.8rem;
		text-align: left;
		vertical-align: middle;
	}
	
	#schedule{
		margin: 15px;
		position: relative;
		text-align: left;
		vertical-align: middle;
	}
	#schedule h3 {
		font-size: 1.0rem;
		font-weight: bolder;
	}
	#schedule ul {
		margin: 10px;
		font-size: 1.0rem;
		line-height: 1.5rem;
		text-align: left;
		vertical-align: middle;
	}
	#schedule ul li{
		padding-left: 1em;
		text-indent: -1em;
	}
	
	#agenda {
		position: relative;
		font-size: 1.0rem;
		font-weight: bolder;	
	}
	
	.contents {
		overflow: hidden;
	}
	
	.contents p,h4 {
		margin: 20px 30px 5px 10px;
		font-size: 0.8rem;
	}
	
	.photo01 {
		background-image: url(../images/presenter1.jpg);
		width: 100%;
		height: 150px;
		background-size: contain;
		background-repeat: no-repeat;
	}
	#photo02 {
		background-image: url(../images/presenter2.jpg);
		width: 100%;
		height: 150px;
		background-size: contain;
		background-repeat: no-repeat;
	}
	#photo03 {
		background-image: url(../images/presenter3.jpg);
		width: 100%;
		height: 150px;
		background-size: contain;
		background-repeat: no-repeat;
	}
	
	#div03 {
		margin-bottom: 100px;
	}
	.git_contact {
		margin-bottom: 100px;
		overflow: hidden;
	}
	.git_contact_inner p {
		width: 100%;
		position: relative;
		font-size: 0.8rem;
		line-height: 1.2rem;
		margin: 9px 0 5px;
		color: #FF3333;
	}
    
	.btn-gradient-3d-simple {
		font-size: 1rem;
		display: inline-block;
		padding: 0.5em 1em;
		text-decoration: none;
		border-radius: 4px;
		color: #ffffff;
		background-image: linear-gradient(#6795fd 0%, #67ceff 100%);
		box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
		border-bottom: solid 3px #5e7fca;
	  }
	  
	  .btn-gradient-3d-simple:active {
		-webkit-transform: translateY(4px);
		transform: translateY(4px);
		box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
		border-bottom: none;
	  }
	.shomeisho {
        width: 80%;
        margin: 0 auto;
        max-width: 200px;
	}
}